  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

body{
height: 100%;
width: 100%;
font-family: "aptos-narrow", sans-serif;
font-weight: 400;
font-style: normal;
}


/*navbar START*/
#navbar{ /*NavigationBar*/
  background-color: #151515;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

#links{ /*NavigationBar List*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px 12px;
  gap: 4px;
}

#navbar a{ /*NavigationBar Hyperlinks*/
  padding: 0px 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover{ /*NavigationBar HoverState*/
color: #2596be;
}

#navbar input[type=text]{ /*NavigationBar SearchBar*/
  background-image: linear-gradient(to left, #2596be, #325891);
  color: white;
  width: 30%;
  border: 2.5px solid #2e4e7c;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px 10px;
}

#navbar img{ /*Navigation Bar Images*/
  width: auto;
  height: 28px;
  display: block;
}
/*navbar END*/

/*dropdown START*/
.dd{ /*Dropdown*/
  position: relative;
  display: inline-flex;
  align-items: center;
}

#ddb{ /*Dropdown Button*/
  background-color: #151515;
  color: white;
  border: 0;
  font-size: 20px;
  font-family: "aptos-narrow", sans-serif;
  cursor: pointer;
  padding: 6px 16px;
  display: flex;
  align-items: center;
} 

#ddb:hover{ /*Dropdown Button HoverState*/
color: #2596be;
}

.dd-ct{ /*Dropdown Content*/
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 3px solid #2596be;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 99;
  background-color: #151515;
  min-width: 140px;
}

.dd:hover .dd-ct{ /*Dropdown Content HoverState*/
  display: grid;
  
}
/*dropdown END*/

#grad {
  background-image: linear-gradient(#2596be, #325891, white);
  width: 100%;
  height: 80%;
  position: absolute;
  }

#main-ct {
  background-color: #151515;
  margin: auto;
  width: 85%;
  height: 80%;
  z-index: 10;
  margin-top: 75px;
  position: absolute;
  border-radius: 10px;
  left: 7.5%;
  }

#main {
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#fpanel{
  background-color: #181818;
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  padding: 24px;
  width: 50%;
  margin-left: 10%;
}
